@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html{
    scroll-behavior: smooth;
}

:root{
    --padding-container: 100px 0;
    --color-title: #001A49;
    --video-width: 700px;
    --piano-hidden: -160px;
}

body{
    font-family: "Poppins", sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(/images/background1.jpg);
    background-position: center 80%;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/* NAV */
.nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title{
    font-weight: 300;
}

.nav__sinfonylogo{
    padding: 0 10px;
}

.nav__logoimg{
    width: 32px;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items{
    list-style: none;
}

.nav__links{
    color: #fff;
    text-decoration: none;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show, none);
}

/* Hero Container */

.hero__container{
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title{
    font-size: 3rem;
}

.hero_paragraph{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/* ABOUT */
.about{
    text-align: center;
}

.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph{
    line-height: 1.7;
}

.about__main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon{
    width: 40px;
}

/* KNOWLEDGE */
.knowledge{
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture{
    width: 500px;
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img{
    width: 100%;
    display: block;
}

/* PRICE */
.price{
    text-align: center;
}

.price__table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.price__element{
    background-color: #E5E5F7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #FFF;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__element--best{
    background-color: #ff7143;
    --color-plan: rgb(255 255 255 / 75%);
    --color-price: #1D293F;
    --bg-cta: #FFF;
    --color-cta: #5454D4;
    --color-items: #FFF;
}

.price__name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.price__price{
    font-size: 2.5rem;
    color: var(--color-price);
}

.price__items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.price__cta{
    background-color: var(--bg-cta);
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    font-weight: 600;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

.price__cta:hover{
    background-color: var(--color-title);
    color: #FFF;
}

/*FAQ*/
.questions{
    text-align: center;
}

.questions__container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions__padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454D4;
    border-radius: 6px;
}

.questions__padding--add{
    padding-bottom: 30px;
}

.questions__answer{
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title{
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions__arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}

.questions__arrow--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    height: 0;
    transition: height .3s;
}

.questions__img{
    display: block;
}

/* FOOTER */
.footer{
    background-color: #1D293F;
}

.footer__title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
    color: #FFF;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FFF;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #2091F9;
    border: none;
    font-size: 1rem;
    color: #FFF;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #FFF;
}

.footer__copyright{
    font-weight: 300;
}

.footer__icons{
    margin-bottom: 10px;
}

.footer__img{
    width: 30px;
}

/*-------------------------------------------------------------CLASSROOM---------------------------------------------------------*/
/*MENU HAMBURGUESO CON QUESO*/
.menu-hamburgueso{
    z-index: 1001;
    position: fixed;
    top: 0;
    left: -25vw;
    width: 25vw;
    height: 100%;
    background-color: #fff;
    transition: 0.4s;
}

.menu-hamburgueso::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(/images/background1.jpg);
    background-position: center 80%;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
}

.menu-hamburgueso ul{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-hamburgueso li{
    padding: 15px;
    text-align: center;
}

.menu-hamburgueso a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu-hamburgueso.active{
    left: 0;
}

.menu-hamburgueso.disabled{
    display: none;
}

.menu-hamburgueso img{
    width: 50px;
    padding: 10px;
    cursor: pointer;
}

.menu-hamburgueso ul li img{
    width: 50%;
    margin: auto;
}
.menu-hamburgueso ul li p{
    color: white;
    font-weight: 600;
    font-size: 1.8rem;
}

/*HEADER*/
.clr__header{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.clr__header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(/images/musicsheet2.jpg);
    background-position: center 80%;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}


.clr__headercontent{
    display: flex;
    place-content: left;
}

.logolist{
    display: flex;
    align-items: center;
}

.clr__headercontent div{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 20px;
}

.crl__header__fixedlogo{
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 2.5vw;
}

.logoimg{
    width: 3.5vw;
    min-width: 40px;
    cursor: pointer;
}

.clr__header .clr__headercontent h2{
    font-weight: 300;
    padding: 0 20px 0 20px;
    color: white;
    place-content: center;
    margin-left: 7vw;
}

.crl__header__go-back-arrow{
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
}

.crl__header__go-back-arrow a img{
    padding: 10px;
    background-color: #1D293F;
    border-radius: 50%;
    width: 4vw;
    min-width: 40px;
}

.clr__courselegend{
    margin: 0 auto;
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.clr__courselegend h2{
    font-size: 3rem;
}

.clr__courselegend p{
    margin-bottom: 20px;
}

.clr__courselegend a{
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/*INTRO SECTION*/
.clr__intro-section{
    text-align: center;
}

.clr__subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.clr__paragraph{
    line-height: 1.7;
}

.clr__list{
    margin-top: 2rem;
    list-style: none;
    display: grid;
    grid-auto-rows: max-content;
    align-items: center;
    gap: 1em;
    list-style-position: inside;
    margin-right: 2em;
}

.clr__list li::before {
    content: url('/images/reader.svg');
    margin-right: .5em;
}

/*OBJECTIVE SECTION*/
.clr__objective-section{
    text-align: center;
}

/*VIDEO SECTION*/
.unit-title-container{
    padding: 0 30px 0;
    overflow: hidden;
}

.unit-title{
    display: flex;
    font-size: 24px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: center;
    gap: 3rem;
}

.video-section{
    text-align: center;
}

.video-section-container{
    display: grid;
    gap: 3em;
    padding-top: 50px;
    padding-bottom: 100px;

    grid-auto-rows: max-content;
    align-items: center;
}

.video-item-container{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454D4;
    border-radius: 6px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-item-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #e5e5f7;
    opacity: 0.4;
    background-image: radial-gradient(#5454D4 0.75px, #e5e5f7 0.75px);
    background-size: 15px 15px;
    z-index: -1;
}

.video-item-container--add{
    padding-bottom: 30px;
}

.video-item{
    height: 0;
    transition: height .3s;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.video-title{
    font-weight: 300;
}

.video{
    width: var(--video-width);
    border-radius: 15px;
}

.video-description{
    text-align: center;
}

/* PIANO SECTION */
.piano__section{
    position: fixed;
    left: 0;
    bottom: var(--piano-hidden);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
}

.piano__section.active{
    bottom: 0;
}

.piano__section #btn{
    padding: 10px;
}

.pianoBtn{
    background-color: #1D293F;
    padding: 5px;
    width: 40px;
    border-radius: 45px;
    cursor: pointer;
}

.piano__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D293F;
    margin: 0 auto;
    width: 100%;
}

#piano {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.key {
    width: 40px;
    height: 150px;
    border: 1px solid #000;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: black;
    user-select: none;
    cursor: pointer;
    margin: 2px;
}
.key.black {
    width: 30px;
    height: 100px;
    background-color: black;
    color: white;
    position: relative;
    z-index: 1;
    margin: 0 -15px 0 -15px;
}
.key.active {
    background-color: yellow;
}
.key:active {
    background-color: #ddd;
}
.key.black:active {
    background-color: #333;
}

/* ______________________________________________MEDIA QUERIES__________________________________________ */
@media (max-width: 800px){
    .nav__menu{
        display: block;
    }

    .nav__link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 40px;
        cursor: pointer;
    }

    .hero__title{
        font-size: 2.5rem;
    }

    .about__main{
        gap: 2em;
    }

    .about__icons:last-of-type{
        grid-column: 1/-1;
    }

    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input{
        flex: 1;
    }

    /*ClassRoom*/
    .clr__courselegend h2{
        font-size: 2.5rem;
    }

    .clr__courselegend p{
        font-size: 1rem;
    }
}

/*******************************************************************************/
/*----------------------CLASSROOM PIANO----------------------*/
@media (max-width: 1550px){
    /*VIDEO SECTION*/
    :root{
        --video-width: 700px;
        --piano-hidden: calc(2 * -160px);
    }
}

@media (max-width: 900px) {
    .menu-hamburgueso {
        display: none;
    }
}

@media (max-width: 795px){
    /*VIDEO SECTION*/
    :root{
        --video-width: 450px;
        --piano-hidden: calc(10px + 3 * -160px);
    }

}

@media (max-width: 531px){
    /*VIDEO SECTION*/
    :root{
        --video-width: 300px;
        --piano-hidden: calc(10px + 4 * -160px);
    }

    .clr__header .clr__headercontent h2{
        margin-left: 10vw;
        font-size: .9rem;
    }

    .clr__courselegend h2{
        font-size: 2rem;
    }
    
    .clr__courselegend p{
        font-size: 1rem;
    }
}

@media (max-width: 400px){
    /*VIDEO SECTION*/
    :root{
        --video-width: 300px;
        --piano-hidden: calc(20px + 4 * -160px);
    }
}

/*******************************************************************************/

@media (max-width: 375px){
    .hero__title{
        font-size: 2rem;
    }

    .hero_paragraph{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 1.8rem;
    }

    .price__element{
        width: 90%;
    }

    .footer__title{
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer{
        padding-bottom: 40px;
    }

    .nav__link--footer{
        justify-content: space-between;
    }

    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit{
        margin-right: auto;
        margin-left: 0;
    }

    /*----------------------CLASSROOM----------------------*/
    :root{
        --piano-hidden: calc(5 * -160px + 30px);
        --video-width: 300px;
    }

    .clr__header .clr__headercontent h2{
        margin-left: 15vw;
        font-size: 1rem;
    }

    /*Course legend*/
    .clr__courselegend h2{
        font-size: 1.5rem;
    }

    .clr__courselegend p{
        font-size: 1rem;
    }

    /*Video Section*/
    .unit-title-container{
        padding: 0 20px 0;
        overflow: hidden;
    }
    
    .unit-title{
        display: flex;
        font-size: 18px;
        padding: 15px 0 15px;
        gap: 1rem;
    }
    .video-title{
        font-size: 14px;
        padding-bottom: 20px;
    }

    /*Piano Section*/
    .piano__section.active{
        bottom: calc(-160px * 2);
    }
}

@media (max-width: 280px){
    :root{
        --video-width: 200px;
        --piano-hidden: calc(6 * -160px + 30px);
    }

    .piano__section.active{
        bottom: calc(-160px * 2);
    }
}